@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu&family=Work+Sans&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.align {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.rules-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 2fr .2fr;
}

.full-width {
    width: 100%;
    height: 100%;
}

.margin-center {
    margin: 0 auto;
}

#tablette {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 2px;
    margin: 40px auto;
}

.carre {
    background-color: chocolate;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    border: 10px solid rgba(200, 200, 200, 0.4);
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-color: rgba(200, 200, 200, 0.2);
}

.carreDisabled {
    display: hidden;
    cursor: default;
}

.carre:hover {
    border: 5px solid rgba(200, 200, 200, 0.4)
}

.carre.selectionne {
    background-color: white;
    border: 5px solid chocolate;
}

.empoisonne {
    background-color: red;
    cursor: default;
}

.empoisonne:hover {
    border: 10px solid rgba(200, 200, 200, 0.4);
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-color: rgba(200, 200, 200, 0.2);
}

/*------- BOUTON CHOCOLATE -------*/
:root {
    --brown: #754C28;
    --brown-light: #8a6748;
    --brown-dark: #432B16;
    --brown-darker: #553310;
}

.chocolate-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    width: 260px;
    height: 50px;
    transform: rotate(0deg);
    transition: transform 0.1s ease;
}

.chocolate-button:hover {
    transform: translateY(-5px) rotate(2deg);
}

.chocolate-button .bar {
    border-radius: 0.3em;
    display: block;
    transition: transform 0.1s ease;
}

.chocolate-button .bar:before,
.chocolate-button .bar:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
}

.chocolate-button .bar:before {
    background-color: var(--brown);
    border: 0.35em rgba(117, 76, 40, 0.6) ridge;
    top: 0;
    z-index: 0;
}

.chocolate-button .bar:after {
    top: 0.3em;
    left: 0.3em;
    background: var(--brown-dark);
    box-shadow: inset 0 -0.05em var(--brown-darker);
}

.chocolate-button .text,
.chocolate-button .bar:before,
.chocolate-button .bar:after {
    transition: -webkit-clip-path 0.15s steps(3, start);
    transition: clip-path 0.15s steps(3, start);
    transition: clip-path 0.15s steps(3, start), -webkit-clip-path 0.15s steps(3, start);
    -webkit-clip-path: polygon(100% 0, 100% 100%, calc(30% + var(--x, 0) * 1px) 100%, calc(24% + var(--x, 0) * 1px) 100%, calc(7% + var(--x, 0) * 1px) 100%, calc(0% + var(--x, 0) * 1px) 100%, calc(-6% + var(--x, 0) * 1px) 100%, calc(-20% + var(--x, 0) * 1px) 100%, calc(-30% + var(--x, 0) * 1px) 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, calc(30% + var(--x, 0) * 1px) 100%, calc(24% + var(--x, 0) * 1px) 100%, calc(7% + var(--x, 0) * 1px) 100%, calc(0% + var(--x, 0) * 1px) 100%, calc(-6% + var(--x, 0) * 1px) 100%, calc(-20% + var(--x, 0) * 1px) 100%, calc(-30% + var(--x, 0) * 1px) 100%, 0 100%, 0 0);
}

.chocolate-button .text {
    display: block;
    padding: .6em 0 0 1em;
    color: var(--brown-dark);
    opacity: 0.8;
    text-shadow: 1px 2px var(--brown-light), -1px -2px black;
}

/* ---------------------------------- */
.crumbs {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    top: 0;
    left: calc(var(--x, 0) * 1px);
    pointer-events: none;
    opacity: 0;
}

.crumbs:before,
.crumbs:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-shadow: 1.4517001104em 2.938831013em var(--brown), 1.4517001104em 2.938831013em var(--brown), -2.0075945738em 2.4239961644em var(--brown), -2.0075945738em 2.4239961644em var(--brown), 0.4556923561em 2.0399713366em var(--brown), 0.4556923561em 2.0399713366em var(--brown), -1.9264161995em 0.9359927588em var(--brown), -1.9264161995em 0.9359927588em var(--brown), 2.3139865529em 1.1271407636em var(--brown), 2.3139865529em 1.1271407636em var(--brown), 1.1789511064em 2.2728693235em var(--brown), 1.1789511064em 2.2728693235em var(--brown), -2.0874357394em 2.5732488968em var(--brown), -2.0874357394em 2.5732488968em var(--brown), 2.9514538289em 0.9792461455em var(--brown), 2.9514538289em 0.9792461455em var(--brown), 1.089354562em 0.789332602em var(--brown), 1.089354562em 0.789332602em var(--brown), 0.4777782971em 0.7903499654em var(--brown), 0.4777782971em 0.7903499654em var(--brown), -1.4927128978em 2.4296361547em var(--brown), -1.4927128978em 2.4296361547em var(--brown), -2.468035466em 0.0699618611em var(--brown), -2.468035466em 0.0699618611em var(--brown), -0.9422933997em 0.2592097595em var(--brown), -0.9422933997em 0.2592097595em var(--brown), -2.9655352497em 1.1258515591em var(--brown), -2.9655352497em 1.1258515591em var(--brown), -2.2468880036em 2.2939451823em var(--brown), -2.2468880036em 2.2939451823em var(--brown), 0.2290420066em 0.8281479998em var(--brown), 0.2290420066em 0.8281479998em var(--brown), 1.9254525818em 1.6118099488em var(--brown), 1.9254525818em 1.6118099488em var(--brown), 0.1306468401em 2.4699080718em var(--brown), 0.1306468401em 2.4699080718em var(--brown), 0.1257917401em 1.8010803967em var(--brown), 0.1257917401em 1.8010803967em var(--brown), -0.8856827546em 0.3501287713em var(--brown), -0.8856827546em 0.3501287713em var(--brown);
}

.crumbs:before {
    height: 70%;
    width: 70%;
}

/* ---------------------------------- */
.chocolate-button-animate,
.chocolate-button-animate {
    outline: none;
    -webkit-animation: chomp 0.3s cubic-bezier(0.72, 0.12, 0.32, 0.96);
    animation: chomp 0.3s cubic-bezier(0.72, 0.12, 0.32, 0.96);
}

@-webkit-keyframes chomp {
    30% {
        transform: translateZ(-6vmin) rotateX(15deg) rotateZ(12deg);
    }

    70% {
        transform: translateZ(-10vmin) rotateX(0deg) rotateZ(8deg);
    }
}

@keyframes chomp {
    30% {
        transform: translateZ(-6vmin) rotateX(15deg) rotateZ(12deg);
    }

    70% {
        transform: translateZ(-10vmin) rotateX(0deg) rotateZ(8deg);
    }
}

.chocolate-button-animate .text,
.chocolate-button-animate .bar:before,
.chocolate-button-animate .bar:after,
.chocolate-button-animate .text,
.chocolate-button-animate .bar:before,
.chocolate-button-animate .bar:after {
    transition: none;
    -webkit-clip-path: polygon(100% 0, 100% 100%, calc(30% + var(--x, 0) * 1px) 100%, calc(24% + var(--x, 0) * 1px) 75%, calc(7% + var(--x, 0) * 1px) 58%, calc(0% + var(--x, 0) * 1px) 65%, calc(-6% + var(--x, 0) * 1px) 45%, calc(-20% + var(--x, 0) * 1px) 51%, calc(-30% + var(--x, 0) * 1px) 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, calc(30% + var(--x, 0) * 1px) 100%, calc(24% + var(--x, 0) * 1px) 75%, calc(7% + var(--x, 0) * 1px) 58%, calc(0% + var(--x, 0) * 1px) 65%, calc(-6% + var(--x, 0) * 1px) 45%, calc(-20% + var(--x, 0) * 1px) 51%, calc(-30% + var(--x, 0) * 1px) 100%, 0 100%, 0 0);
}

.chocolate-button-animate .crumbs,
.chocolate-button-animate .crumbs {
    opacity: 1;
    -webkit-animation: crumbs 1.5s ease-out both;
    animation: crumbs 1.5s ease-out both;
}

@-webkit-keyframes crumbs {
    to {
        transform: translateY(100vh);
    }
}

@keyframes crumbs {
    to {
        transform: translateY(100vh);
    }
}

.chocolate-button-animate .crumbs:before,
.chocolate-button-animate .crumbs:before {
    -webkit-animation: inherit;
    animation: inherit;
    -webkit-animation-name: crumbs-left;
    animation-name: crumbs-left;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

@-webkit-keyframes crumbs-left {
    to {
        transform: translateX(-15vw) rotate(-5deg);
    }
}

@keyframes crumbs-left {
    to {
        transform: translateX(-15vw) rotate(-5deg);
    }
}

.chocolate-button-animate .crumbs:after,
.chocolate-button-animate .crumbs:after {
    -webkit-animation: inherit;
    animation: inherit;
    -webkit-animation-name: crumbs-right;
    animation-name: crumbs-right;
}

@-webkit-keyframes crumbs-right {
    to {
        transform: translateX(15vw) rotate(5deg);
    }
}

@keyframes crumbs-right {
    to {
        transform: translateX(15vw) rotate(5deg);
    }
}
