p {
  font-size: 1.1em;
  text-align: justify;
  line-height: 1.5em;
}

.img-container{
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    margin-top: -10px;
    padding-left: 40px;
    width: 50%;
    height: auto;
  }
}
