<h2>Règle du jeu 📜</h2>
<p>
    👬 Jouez à 2 avec une tablette de chocolat virtuelle 🍫. Un seul carré est "empoisonné" ☠️. Cassez la tablette à tour
    de rôle, mais gardez le carré empoisonné sur la partie restante. Passez la partie sans poison à l'autre joueur 🎁. Si
    tu manges le carré empoisonné, tu perds 😢.
</p>
<h2>Exemple de déroulement 🧮</h2>
<p>
    Avec une tablette 4x3, et le carré empoisonné au milieu, le premier joueur coupe la tablette en deux au-dessus du
    poison et donne la partie saine. L'adversaire fait un autre coup, et à la fin, le premier joueur se retrouve avec le
    carré empoisonné et perd 😞.
</p>
<h2>Comment gagner à coup sûr ? 🥇</h2>
<p>
    Une position perdante est une position où la somme de nim est nulle.
    La somme de nim dans notre cas c'est le XOR entre a, b, c et d soit
</p>
<div class="img-container">
    <img ngSrc="assets/tab.png" alt="Tablette de chocolat" width="540" height="524" priority="1">
</div>
